@charset "utf-8";
/* CSS Document */
body {
	background-color: #FFFFFF;
	background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
p{font-family:sans-serif;}

header{
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	height:11vh;
	width: 100%;
	position:fixed;
	background-color:#FFFFFF;
	top:0;
	margin-bottom: 10px;
	z-index: 2;
	color: #E55C00;
}
#logo-holder>img{
	height: 30px;
	width: 40px;
	margin: 10px 10px;
}
/*#nav-bar{margin-right:5%; display:block;}
#nav-bar ul{list-style-type:none;}
#nav-bar li{
	display:inline;
	margin:4px;
}
#nav-bar li a{
	text-decoration:none;
	color:#FF3700;
	padding:2px;
	border-bottom-color: #FFFFFF;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	transition-property: border-bottom-color;
	transition-duration: 1s;
}
#nav-bar li a:hover{
	border: none;
	border-bottom:2px solid #FF3700;
}
#nav-bar li a:active{
	border: none;
	border-bottom:#FF3700;
}*/
#why{
	height:30vh;
	text-align:center;
}
#why span{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size:56px;
}
#why p{font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;font-size:16px;}
#services{
	height:65vh;
	text-align:center;
}
.brag-txt{
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif; 
	color:#FF3700; 
	font-size:40px;
}
.service-chiefs{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
#reach-joe{
	height:65vh;
	text-align:center;
	opacity: 1;
}
#server{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
#server > div > img{
	margin: 20px 5px;
	height: 40px;
	width: 30px;
}
.parallax_1{
  background-image:url(images/Photo%20by%20Edgar%20Castrejon%20on%20Unsplash.jpg);
  min-height: 98vh; 
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
	background-size: 100% 100% !important;
	display: flex;
	align-items: center;
}
.banner{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	position: relative;
	top: 10vh;
	left: 5vw;
	height: 60%;
	width: 50%;
	padding: 10px 0;
	background-color: rgba(0, 0, 0, 0.63);
	z-index: 1;
	animation: scale-in-ver-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.greeting {
	font-size: 2.0em;
	color: rgba(255, 255, 255, 0.856);
}
.brag {
	font-size: 2.0em;
	color: #FF3700;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif !important;
}
@keyframes scale-in-ver-center {
	0% {
		transform: scaleY(0);
		opacity: 1;
	}
	100% {
			transform: scaleY(1);
			opacity: 1;
		}
}
.parallax_2{
  background-image:url(images/Photo%20by%20Petr%20Sevcovic%20on%20Unsplash.png);
  min-height: 60vh; 
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
.parallax_3{
  background-image:url(images/Photo%20by%20STIL%20on%20Unsplash.png);
  min-height: 25vh; 
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
.cups{
	width:27%;
	text-align:center;
	border-radius:none;
	border-bottom-color: #FFFFFF;
	transition: border-bottom-color ease-in-out 800ms;
	cursor: pointer;
}
.cups:hover{
	border: none;
	border-bottom:1px solid #FF3700;
}
.tpc{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:24px;
	color:#E55C00;
}
.wrt{ font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; }
.joe-contact{
	font-family:serif;
	font-size:65px;
	color:#003A7F;
}
.contact{
	animation-name: curtain;
	animation-duration: 2s;
	animation-direction: cubic-bezier(0.250, 0.460, 0.450, 0.940);
	animation-fill-mode: forwards;
}
@keyframes curtain {
	0% { 
		transform: translateY(100px);
		opacity: 0;
	}
	100% { 
		transform: translateY(0); 
		opacity: 1;
	}
}

#mobile-nav-bar{
	display: none;
}
#nav-div > span{
	height:3px;
	width: 25px;
	background-color: #E55C00;
	margin: 5px 0px;
	display: block;
} 
#nav-div :active > span{
	width: 15px;
}
#nav-links{
	top: 8vh;
	right: -50vh;
	position: fixed;
	background-color: white;
	width: 150px;
  transition: all 600ms;
	height: auto;
	/*animation-name: slide-right;
	animation-duration: 2s;
	animation-fill-mode: forwards;*/
}
#nav-links.active{
	right: 5px;
} 
#nav-links > ul{
	list-style-type: none;
	padding: 0px 5px;
	text-align: center;
}
#nav-links > ul > li{
	display: block;
	color: whitesmoke;
	border: 1px solid whitesmoke;
	width: 100%;
	margin: 5px 0px;
	background-color: #E55C00;
	font-family: Arial, Helvetica, sans-serif;
}
/*@keyframes slide-right{
	0% {right: -60px;}
	50% {right: 25px;}
	100% {right: 15px;}
}*/

.dish {
	color: #003A7F;
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	box-shadow: 3px 4px 12px 2px rgba(94, 97, 98, 0.431);
	margin: 0 10px;
	display: flex;
	align-items: center;
	padding: 0 4px;
}
.footer{
	margin: 0 5vw;
	align-self: center;
	border:1px solid #060a0c;
	border-radius:5px 5px 0px 0px;
	background-color:#060a0c;
	color: #E55C00;
	text-align: center;
}
.flex-column {
	display: flex !important;
	flex-direction: column !important;
}
.title-sm {
	font-size: 1.3em;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

@media(max-width:770px){
	header{
		justify-content: space-around; 
		align-content: center;
		align-items: center;
		margin: auto;
	}
	#mobile-nav-bar{display: block;}
	#nav-bar{display: none;}
	#services{height:auto;}
	#server {
		margin: auto;
	}
	.service-chiefs{
		flex-direction:column; 
		justify-content:center;
	}
	.cups{
		width:auto; 
		margin: auto 40px;
	}
	.cups:hover{
		border:none; 
		border-radius: 0px;
	}
	header{
		align-items: center;
	}
	#why > span{
		font-size: 25px;
	}
}
@media(max-width:500px){
	header { font-size: 0.8em;}
	.dish {
		height: 30vh;
		width: 30%;
		font-size: 0.8em;
		align-items: center;
		justify-content: center;
	}
	#server>div>img { 
		height: 15px;
		width: 20px; 
	}
	.banner {
		width: 70%;
		text-align: center;
	}
	.joe-contact {
		font-size: 2.2em;
	}
}
@media(max-width:380px){
	header{height:14vh;}
	.dish { font-size: 0.6em; }
}